/* Background image styling */
#home .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: url('/assets/img/background/Fondo Home.png') no-repeat center center / cover;
    z-index: -1;
}

/* Centered logo container */
#home .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding-top: 6rem; /* Añade más espacio arriba */
}

/* Logo styling */
#home .home-logo {
    max-width: 40%;
    height: auto;
    animation: zoom-in 2s ease-in-out;
}

@keyframes zoom-in {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Floating button */
.floating-button {
    position: fixed;
    bottom: 2rem; /* Distancia desde abajo */
    right: 2rem; /* Distancia desde la derecha */
    width: 70px; /* Ajusta el tamaño del botón */
    height: 70px;
    z-index: 10;
    border-radius: 50%; /* Hace el botón circular */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Sombra inicial */
    animation: pulse 2s infinite ease-in-out; /* Animación de latido */
}

/* Hover effects */
.floating-button:hover {
    transform: scale(1.2); /* Agrandar al pasar el cursor */
    box-shadow: 0 12px 20px rgba(255, 77, 77, 0.5); /* Sombra más destacada */
}

/* Botón animado: efecto de "latido" */
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 12px 20px rgba(255, 77, 77, 0.4);
    }
}

/* Imagen dentro del botón */
.floating-button .button-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen al tamaño del botón */
    border-radius: 50%; /* Hace el botón circular */
    cursor: url(/assets/img/cursor/Cursor_select.png), auto;
}

/* Responsivo */
@media (max-width: 768px) {
    #home .home-logo {
        max-width: 70%; /* Más pequeño en pantallas pequeñas */
    }

    .hero-title h1 {
        font-size: 2rem;
    }

    .hero-title p {
        font-size: 1rem;
    }

    .cta-button {
        font-size: 1rem;
        padding: 0.6rem 1.5rem;
    }

    #home .logo-container {
        padding-top: 3rem; /* Reduce espacio superior en pantallas pequeñas */
    }

    .floating-button {
        bottom: 1rem; /* Ajusta posición en pantallas pequeñas */
        right: 1rem;
        width: 50px;
        height: 50px;
    }
}
