/* Fondo y estilos generales */
#projects {
    background: url('/assets/img/background/Separador fondo negro.png') no-repeat center bottom / contain;
    background-size: cover;
    background-color: #f2eee3;
    color: #f2eee3; /* Texto blanco */
    padding: 50px 0; /* Espaciado superior e inferior */
    font-family: 'Roboto', sans-serif;
}

/* Espaciador */
#espacer {
    margin-bottom: 200px; /* Añadir 200px de espacio */
    width: 100%; /* Asegurar que ocupe el ancho completo */
}

/* Título con animación en loop */
.projects-title {
    font-family: 'Bokor', sans-serif;
    color: #992120;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 30px;
    animation: loopAnimation 3s ease-in-out infinite; /* Animación infinita */
}

/* Animaciones generales */
@keyframes loopAnimation {
    0% {
        opacity: 0.8;
        transform: translateY(0) scale(1);
    }
    50% {
        opacity: 1;
        transform: translateY(-10px) scale(1.05); /* Subir y aumentar ligeramente */
    }
    100% {
        opacity: 0.8;
        transform: translateY(0) scale(1);
    }
}

/* Estilo de las tarjetas */
.project-card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.project-image-container {
    position: relative;
}

.project-image {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.project-card:hover .project-image {
    transform: scale(1.1);
    opacity: 0.7;
}

/* Overlay */
.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-card:hover .project-overlay {
    opacity: 1;
}

.project-text {
    font-family: 'Bokor', sans-serif;
    color: #ffc857;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}
