<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mí</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bokor&family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/about.css">
</head>

<div class="container-fluid">
    <div id="about-content">
        <section id="about" class="container py-5">
            <!-- Título Sobre Mí -->
            <div class="text-center mb-4">
                <h2 class="about-title">Sobre Mí</h2>
            </div>
    
            <div class="row align-items-center">
                <!-- Imagen -->
                <div class="col-md-6 text-center">
                    <div class="photo-frame">
                        <img src="/assets/img/about me/About me.png" alt="Foto de referencia" class="photo img-fluid">
                    </div>
                </div>
    
                <!-- Texto -->
                <div class="col-md-6">
                    <h3 class="about-hello-text">Hola!!!</h3>
                    <p class="about-roboto-text">
                        Soy <span class="about-highlight">Jazz Alvarado</span> y soy una diseñadora gráfica mexicana.
                    </p>
                    <p class="about-roboto-text">
                        Mi enfoque va dirigido principalmente a la <span class="about-highlight">ilustración</span>, el <span class="about-highlight">branding</span> y la <span class="about-highlight">serigrafía</span>.
                    </p>
                    <p class="about-roboto-text">
                        Me gusta crear <span class="about-highlight">piezas estáticas</span> que comuniquen y sean <span class="about-highlight">visualmente atractivas</span> para el público.
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</html>
