<head>
    <link rel="stylesheet" href="/css/home.css">
</head>
<div id="home-content">
    <section id="home" class="section text-center">
        <!-- Fondo con imagen -->
        <div class="background-image"></div>

        <!-- Logo centrado -->
        <div class="logo-container">
            <img src="/assets/img/logos/Logo blanco.png" alt="Ghost Project Logo" class="home-logo">
        </div>

        <!-- Botón flotante -->
        <a href="#home" class="floating-button">
            <img src="/assets/img/logos/Flecha 1.png" alt="Botón Inicio" class="button-image">
        </a>
    </section>
</div>
