<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bokor&family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/projects.css">
</head>

    <section id="projects" class="py-5">
        <div class="container">
            <h2 class="projects-title text-center mb-5">Proyectos</h2>
            <div id="projects-grid" class="row g-4"></div>
        </div>
<h1></h1>
<h1></h1>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


</html>
